<div class="container">
  <div *ngIf="auth.user | async as user; else showLogin">    
    <app-principal></app-principal>  
  </div>
  <ng-template #showLogin>
    <form [formGroup]='formulario'>
      <div class="form-group">
        <label>Correo</label>
        <input type="email" class="form-control" formControlName='correo' aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">Ingresa tu correo electronico</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" formControlName='password'>
      </div>    
      <button [disabled]="!formulario.valid" type="submit" class="btn btn-primary" (click)="login()">Ingresar</button>
    </form>

    <button type="button" class="btn btn-primary mt-2" (click)="abrirModal(template)">Registrarse</button>
 
    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Registro</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="referencia_modal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]='formulario_registro'>
          <div class="form-group">
            <label>Correo</label>
            <input type="email" class="form-control" formControlName='correo' aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">Ingresa tu correo electronico</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" formControlName='password'>
          </div>    
          <button [disabled]="!formulario_registro.valid" type="submit" class="btn btn-primary" (click)="Registrarse()">Registrar</button>
        </form>
      </div>
    </ng-template>
  </ng-template>  
</div>
